* {
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(218, 28%, 13%)
}

header {
	overflow: hidden;
	background-color: hsl(217, 28%, 15%);
	text-align: right;
}

.logo-header {
	width: 20%;
	padding: 7% 15% 7% 5%;
	float: left;
  position: relative;
}

nav {
	float: right;
	width: 50%;
}

.header-links {
	padding-top: 10%;

}

.header-links li {
	display: inline;
	padding-right: 10%;
}

.header-links li a {
	color: color: #B9BBB6;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	padding-top: 10%;
	text-align: right;
	text-decoration: none;
	text-align: left;	
	
}

.header-links li a:hover {
	color: hsl(0, 0%, 100%);
	border-style: solid;
	border-width: 0 0 1px 0;

}

.first-section {
	position: relative;
	background-color: hsl(217, 28%, 15%);
}

.intro-images-container {
	
}

.intro-img {
	width: 80%;
	display: block;
	margin:0 auto;
	position: relative;
	z-index: 1;
}

.curvy-img-mobile {
	width: 100%;	
	display: block;
  position: absolute;
	text-align: center;
  z-index: 0;
  right: 0;
  left: 0;
  top: 45%;
  margin: 0 auto;
}

.curvy-img-desktop {
	display: none;
}

.first-section-text {
	position: relative;
	color: hsl(0, 0%, 100%);
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	padding-top: 10%;
	width: 80%;
	margin: 0 auto;
}

.first-para {
	padding: 5% 0 0 0;
	width: 80;
	margin: 0 auto;
	font-weight: 400;
	font-size: 0.9rem;
}

.button-cont {
	 background-color: hsl(218, 28%, 13%);
	 width: 100%;
	 margin: 0 auto;
}

.first-button {
	background: rgb(255,165,119);
	background: linear-gradient(90deg, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
	color: hsl(0, 0%, 100%);
	width: 60%;
	padding: 3% 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	border-radius: 1.5rem;
	border-width: 0px;
	margin-top: 2%;
	cursor: pointer;
	font-size: 1rem;
}

.first-button:hover {
	filter: brightness(120%);
}

.middle-grid-container {
	padding-top: 30%;
	padding-bottom: 30%;
}

.second-section {
	position: relative;
}

.icon-access {
	display: block;
	margin: 0 auto;
	padding-bottom: 6%;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: hsl(0, 0%, 100%);
	margin: 0 auto;
	width: 80%;
	font-size: 1.4rem;
	text-align: center;
	font-weight: 700;
}

p {
	font-family: 'Raleway', sans-serif;
	color: hsl(0, 0%, 100%);
	margin: 0 auto;
	width: 80%;
	text-align: center;
	font-size: 0.95rem;
	font-weight: 400;
	padding-top: 4%;
}

.third-section {
	position: relative;
	padding-top: 20%;
}

.icon-security {
	display: block;
	margin: 0 auto;
	padding-bottom: 6%;
}

.fourth-section {
	position: relative;
	padding-top: 20%;
}

.icon-collaboration {
	display: block;
	margin: 0 auto;
	padding-bottom: 6%;
}

.fifth-section {
	position: relative;
	padding-top: 20%;
}

.icon-any-file {
	display: block;
	margin: 0 auto;
	padding-bottom: 6%;
}

.sixth-section {
	position: relative;
}

.stay-porductive-img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.sixth-section h2 {
	padding-top: 10%;
	font-size: 1.1rem;
	width: 100%;
}

.sixth-section p {
	text-align: left;
	font-size: 0.9rem;
	font-weight: 400;
}

.arrow-flex {
	display: grid;
	grid-template-areas: "text icon";
	width: 40%;
	margin: 5% 10% 20% 10%;
	text-align: left;
	justify-content: left;
	align-content: center;
	padding-bottom: 1%;
	cursor: pointer;
}

.arrow-flex:hover {
	filter: brightness(250%);
}

h4 {
	font-size: 0.8rem;
	text-align: left;
	padding-top: 2%;
	margin: 0 auto;
	color: hsl(176, 68%, 64%);
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	grid-area: text;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: hsl(176, 68%, 64%);
}

.arrow-icon {
	width: 120%;
	grid-area: icon;
	padding-left: 10%;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: hsl(176, 68%, 64%);
}

.seventh-section {
	position: relative;
	padding-top: 20%;
	width: 75%;
	margin: 0 auto;
}

.first-card {
	width: 100%;
	background-color: hsl(219, 30%, 18%);
	border-radius: 0.5rem;
	margin-bottom: 10%;
}

h3 {
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	color: hsl(0, 0%, 100%);
	text-align: lefts;
	padding: 9% 9% 0 9%;
	font-size: 0.7rem;
	line-height: 1.1rem;
}

.quotes-img {
	width: 10%;
	position: absolute; 
	bottom: 87%;
	left: 5%;
	margin-right: 0;
	margin-left: 0;
	right: 0;
	text-align: center;
}

.flex-container {
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding: 4% 0 2% 0;
}

.profile-1 {
	width: 10%;
	height: 10%;
	border-radius: 50%;
	grid-area: avatar;
	margin: 0% 0% 0 9%;
}

.grid-container {
	display: grid;
	grid-template-areas: "name"
	"date";
	height: 100%;
	text-align: left;
	margin: 2% 4%;
}

.name-para {
	grid-area: name;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	text-align: left;
	width: 100%;
	padding-bottom: 1%;
	padding-top: 1%;
}

.info-para {
	grid-area: date;
	color:  hsl(0, 0%, 100%);
	font-weight: 400;
	font-size: 0.5rem;
	text-align: left;
	opacity: 0.8;
	width: 100%;
	padding-top: 1%;
}

.second-card {
	width: 100%;
	background-color: hsl(219, 30%, 18%);
	border-radius: 0.5rem;
	margin-bottom: 10%;
}

.profile-2 {
	width: 10%;
	height: 10%;
	border-radius: 50%;
	grid-area: avatar;
	margin: 0% 0% 0 9%;
}

.third-card {
	width: 100%;
	background-color: hsl(219, 30%, 18%);
	border-radius: 0.5rem;
	margin-bottom: 100%;
}

.profile-3 {
	width: 10%;
	height: 10%;
	border-radius: 50%;
	grid-area: avatar;
	margin: 0% 0% 0 9%;
}

.footer-card {
	width: 90%;
	margin: -80% auto 0 auto;
	background-color: hsl(217, 28%, 15%);
	border-radius: 1rem;
	padding-bottom: 10%;
	position: absolute;
	left: 5%;
}

.footer-card-h2 {
	padding-top: 10%;
	font-size: 1.3rem;
}

.footer-card-p {
	font-size: 0.85rem;
	width: 80%;
	padding-top: 5%;
	padding-bottom: 10%;
	line-height: 1.25rem;
}

.email-input {
	width: 80%;
	margin: 0 auto 4% auto;
	display: block;
	padding: 5% 0;
	border-radius: 2rem;
	border-width: 0;
	box-sizing: border-box;
	padding-left: 10%;
}

.email-input[type="email"]::placeholder { 
  opacity: 0.4;
}

.email-input:focus {
	outline-width: 0;
}

.second-input {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding: 5% 0;
	border-radius: 2rem;
	border-width: 0;
	color: hsl(0, 0%, 100%);
	background: rgb(255,165,119);
	background: linear-gradient(90deg, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 0.95rem;
	cursor: pointer;
}

.second-input:hover {
	filter: brightness(120%);
}

footer {
	background-color: hsl(216, 53%, 9%);
	padding-top: 40%;
}

.footer {
	padding-top: 28%;
	width: 90%;
	margin: 0 auto;
}

.footer-logo {
	width: 50%;
	padding-left: 5%;
	padding-bottom: 10%;
}

.footer-grid-container {
	display: grid;
	grid-template-rows: 3;
	grid-template-columns: 3;
	grid-template-areas: "location-icon location-text"
	"phone-icon phone-text"
	"email-icon email-text";
}

.location-icon {
	grid-area: location-icon;
	padding: 10% 30% 0 35%;
}

.location-text {
	grid-area: location-text;
	text-align: left;
	padding: 0;
	padding-left: 3%;
	margin-bottom: 10%;
}

.phone-icon {
	grid-area: phone-icon;
	padding: 10% 30% 0 35%;
}

.phone-text {
	grid-area: phone-text;
	text-align: left;
	padding: 0;
	padding-left: 3%;
	margin-bottom: 10%;
}

.email-icon {
	grid-area: email-icon;
	padding: 10% 30% 0 35%;
}

.email-text {
	grid-area: email-text;
	text-align: left;
	padding: 0;
	padding-left: 3%;
}

.footer-links {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	padding-top: 10%;
	padding-bottom: 5%;
}

ul {
	list-style: none;
}

ul li {
	text-decoration: none;
}

ul li a {
	text-decoration: none;
	color: #B9BBB6;
	line-height: 2rem;
	
}

ul li a:hover {
	color: hsl(0, 0%, 100%);
	opacity: 1;
}

.social-links {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links a {
  height: 30px;
  padding: 0% 4%;
}

.social-links a img:hover {
	background-color: hsl(176, 68%, 64%);
}

.social-links a img {
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  padding: 25%;
}

@media only screen and (min-width: 475px) {
	.footer {
		padding-top: 20%;
	}
}

@media only screen and (min-width: 575px) {
	.footer {
		padding-top: 15%;
	}

	footer {
		padding-top: 45%;
	}
}

@media only screen and (min-width: 675px) {
	.footer {
		padding-top: 5%;
	}
}

@media only screen and (min-width: 1024px) {
	
	.logo-header {
		width: 15%;
		padding: 5% 15% 7% 5%;
	}

	nav {
		padding-right: 3%;
	}

	.intro-img {
		width: 60%;
	}

	.curvy-img-mobile {
		display: none;
	}

	.curvy-img-desktop {
		width: 100%;	
		display: block;
  	position: absolute;
		text-align: center;
  	z-index: 0;
 	 	right: 0;
 	 	left: 0;
 		bottom: 0;
  	margin: 0 auto;

	}

	.first-section {
		padding-bottom: 10%;
	}

	h1 {
		font-size: 2rem;
		width: 60%;
	}

	.first-para {
		font-size: 1.3rem;
		width: 60%;
		opacity: 0.9;
	}

	.button-cont {
		background: none;
	}

	.first-button {
		width: 30%;
		border-radius: 3rem;
		padding: 2% 0;
	}

	.middle-grid-container {
		display: grid;
		grid-template-rows: 2;
		grid-template-columns: 2;
		grid-template-areas: "access security"
		"collab storage";
		width: 80%;
		margin: 0 auto;
		grid-gap: 0 20%;
		padding-top: 0;
		padding-bottom: 10%;
	}

	h2 {
		width: 100%;
		font-size: 1.2rem;
	}

	p {
		width: 100%;
		font-size: 0.9rem;
		opacity: 0.9;
	}

	.second-section {
		grid-area: access;
		padding-top: 21.5%;
	}

	.third-section {
		grid-area: security;
	}

	.fourth-section {
		grid-area: collab;
	}

	.fifth-section {
		grid-area: storage;
		padding-top: 23%;
	}

	.sixth-section {
		display: flex;
		flex-direction: row;
		width: 90%;
		margin: 0 auto;
		padding-left: 10%;
	}
	
	.stay-porductive-img {
		width: 90%;
		padding: 0 10% 0 0;
	}

	.content-cont {
		padding-top: 2%;
	}

	.h2-sixth {
		text-align: left;

	}

	.first-para-sixth {
		text-align: left;
		width: 80%;
		margin: 0;
	}

	.second-para-sixth {
		text-align: left;
		width: 80%;
		margin: 0;
	}

	.arrow-flex {
		text-align: left;
		margin-right: 0;
		margin-left: 0;
	}

	.seventh-section {
		display: flex;
		flex-direction: row;
		padding-top: 5%;
		width: 90%;
		margin-right: 7%;
	}

	.quotes-img {
		position: relative;
		width: 10%;
		height: 100%;
		
  }

	.first-card {
		position: relative;
		margin-bottom: 30%;
		margin-top: 2%;
		margin-right: 2%;
		margin-left: 2%;
		box-shadow: 0 20px 32px rgba(0,0,0,0.11)
	}

	.first-card h3 {
		font-size: 0.65rem;
	}

	.info-para {
		font-size: 0.55rem;
	}

	.second-card {
		margin-bottom: 30%;
		margin-top: 2%;
		margin-right: 2%;
		margin-left: 2%;
		box-shadow: 0 20px 32px rgba(0,0,0,0.11)
	}

	.second-card h3 {
		font-size: 0.65rem;
	}

	.third-card {
		margin-bottom: 30%;
		margin-top: 2%;;
		margin-right: 2%;
		margin-left: 2%;
		box-shadow: 0 20px 32px rgba(0,0,0,0.11)
	}

	.third-card h3 {
		font-size: 0.65rem;
	}

	footer {
		padding-top: 20%;
	}

	.footer-card {
		width: 60%;
		margin: -33% 0 0 15%;
		padding-bottom: 5%;
	}

	.footer-card-h2 {
		padding-top: 5%;
		font-size: 1.8rem;
	}

	.footer-card-p {
		padding-top: 3%;
		padding-bottom: 5%;
	}

	form {
		display: flex;
		flex-direction: row;
	}

	.email-input {
		margin: 0 auto;
		width: 60%;
		padding: 2% 4%;

	}

	.second-input {
		margin: 0 auto;
		width: 30%;
		padding: 3% 0;
		font-size: 0.85rem;
	}

	.footer {
		width: 80%;
	}

	.footer-logo {
		width: 20%;
		padding-left: 0;
	}

	.footer-flex {
		display: flex;

	}

	.footer-grid-container {
		display: grid;
		grid-template-rows: 2;
		grid-template-columns: 5;
		grid-template-areas: "location-icon location-text .  phone-icon phone-text"
		"location-icon location-text  . email-icon email-text"
		"location-icon location-text . . ."
		"location-icon location-text . . ."
  }

 	.location-icon {
	grid-area: location-icon;
	padding: 10% 30% 0 35%;
}

	.location-text {
		grid-area: location-text;
		text-align: left;
		padding: 0;
		padding-right: 	30%;
		margin-bottom: 10%;
		
		width: 	60%;
	}

	.phone-icon {
		grid-area: phone-icon;
		padding: 10% 20% 0 35%;
	}

	.phone-text {
		grid-area: phone-text;
		text-align: left;
		padding: 0;
		padding-left: 5%;
		margin-bottom: 10%;
	}

	.email-icon {
		grid-area: email-icon;
		padding: 10% 20% 0 35%;
	}

	.email-text {
		grid-area: email-text;
		text-align: left;
		padding: 0;
		padding-left: 5%;
	}

  .footer-links {
  	display: flex;
  	padding-top: 0%;
		padding-bottom: 0%;
		padding-left: 5%;
		padding-right: 10%;
		margin-top: -1%;
  }

  .first-ul {
  	padding-right: 40%;
  }

  .social-links {
	 	padding: 0px;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	}

	.social-links a {
	  height: 30px;
	  padding: 0% 12%;
	}

	.social-links a img:hover {
		background-color: hsl(176, 68%, 64%);
	}

	.social-links a img {
	  height: 60%;
	  border: 2px solid white;
	  border-radius: 50%;
	  margin: 0 auto;
	  display: block;
	  padding: 15%;
	}

}

.attribution { 
	font-size: 11px; text-align: center;
	background-color: hsl(216, 53%, 9%); 
	width: 100%;
}

.attribution a { 
	color: hsl(198, 60%, 50%); 
}